@import url('https://fonts.googleapis.com/css2?family=Joti+One&display=swap');
.bg_one{
    background-color: #151515;
}
.font{
    font-family: "Joti One", serif;
    font-weight: 400;
    font-style: normal;

}
.bg_two{
    background-color: #171717;
}
.custom_container {
    padding-left: 1px !important;
    padding-right: 1px !important;
}
.btn_style{
    background-color: #17000771 !important;
    font-size: 20px;
}
.img_style{
    width: 50px;
    margin: 0 auto;
    height: 30px;
    object-fit: cover;
    border-radius: 5px;
}


