/* nav {
    padding: 10px 20px;
} 

.container {
    display: flex;
    justify-content: space-between;

}

.nav-link {
    font-family: "Joti One", serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    display: flex;

}

.nav-link:hover {
    color: #D86A15;
} */

/* .btn-login-btn {
    font-family: "Joti One", serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    background-color: #E47934;
    color: white;
    width: 100px;
    height: 40px;
    padding: 5px 15px;
    border-radius: 50px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

}

@media (min-width: 1024px) {
    .navbar-nav {
        gap: 119px;
    }
} */

/* ============================================================================================ */
.on-hover-link:hover {
    color: #D86A15 !important;
}

.on-hover-btn:hover {
    background-color: #313131 !important;
}


.Logo {
    width: 160px;
    height: 45px;
    margin-right: 20px;
}